{% for menssage in flashSucces %}

<div class="alert alert-success">{{ menssage }}</div>
{% endfor %}


{% for menssage in flashError %}

<div class="alert alert-danger">{{ menssage }}</div>
{% endfor %}
